<% if @users %>
  <table>
    <tr> 
      <th>ID</th>
      <th>Nazwa</th>
      <th>Admin</th>
    </tr>
    <% @users.each do |user| %>
    <tr>
      <td><%= user.id %></td>
      <td><%= user.name %> </td>
      <td><%= user.admin ? 'TAK': 'NIE' %> </td>
    </tr>    
    
    <% end %>
  </table>
<% end %>

<br />
<%= link_to "Zarejestruj nowego użytkownika", :action => "new" %>

<br /><br /><br />
<div id="notes"> 
  GET:
  <div class="small" onmouseover="this.className='big'" onmouseout="this.className='small'">
    http://localhost:3000/mass_assigment/register?user[name]=hacker&user[password]=pass&user[admin]=1
  </div>
  <br />
  
  POST:
  <div class="small" onmouseover="this.className='big'" onmouseout="this.className='small'">
    curl -d "user[name]=hacker&user[password]=pass&user[admin]=1" http://localhost:3000/mass_assigment/register
  </div>
  <br />
  
  Spreparowana strona WWW:
  <div class="small" onmouseover="this.className='big'" onmouseout="this.className='small'">
    attr_accessible
  </div>

</div>
