<!DOCTYPE html>
<html>
<head>
  <title>Bezpieczeństwo w Rails</title>
  <%= stylesheet_link_tag :all %>  
  <%= javascript_include_tag :all, :cache => true %>
</head>
<body>
<div id="main">
  <div id="background">
    <div id="header"></div>
    <div id="main_menu">
      <a href="/sql_injection/index" id="link1"></a>
      <a href="/xss" id="link2"></a>
      <a href="/csrf/index" id="link3"></a>
      <a href="/mass_assignment/index" id="link4"></a>      
    </div>
      
    <div id="content">
      
      <% if flash[:notice] %>
        <div id="notice">
          <%= flash[:notice] %>
        </div>
      <% end %> 
      
      <%= yield %>      
      
    </div>
  </div>
  
  <div id="footer">
    <div id="footer_grafa_l"></div>
    <div id="footer_matter_f"> Copyright © 2011 mbie </div>
    <div id="footer_grafa_p"></div>
  </div>

</div>
</body>
</html>
